<%- include("../includes/head.ejs") %>
<main>
  <% if (products.length>0) { %>

  <ul>
    <% for(product of products){%>
    <li class="cart-item">
      <%= product.productId.title %> - <%= product.quantity %>
    </li>
    <form action="/delete-product-cart" method="post">
      <input
        type="hidden"
        name="productId"
        value="<%= product.productId._id %>"
      />
      <button class="btn" type="submit">Delete</button>
    </form>

    <% } %>
  </ul>
  <hr />
  <form action="/create-order" method="post" class="centered">
    <button type="submit" class="btn">Order Now!</button>
  </form>

  <% } else{%>
  <h1>Cart is Empty</h1>
  <% } %>
</main>

<%- include("../includes/end.ejs") %>
